
.App {
    text-align: center;
    width: 720px;
}

.Menu{
    padding: 2rem;
    margin: 2rem;
    width: 10rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}